<div class="container">
    <h1>Note Scraper</h1>
    <div class="row">
        <div class="col">
            <div id="articles"></div>
        </div>
        <div class="col">

            <div id="notes"></div>
        </div>
    </div>



</div>
